#game {
    display: flex;
}

.column {
    flex: 50%;
}

#board table {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

#board table td {
    text-align: center;
    font-size: 50px;
    width: 280px;
    height: 180px;
}